{{define "head"}}
<!DOCTYPE html>
<html lang="zh" prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8">
    {{template "headjs"}}
    <link rel="canonical" href="http://13520v.com">
    <link rel="apple-touch-icon" sizes="180x180" href="{{.frontDomain}}/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.frontDomain}}/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.frontDomain}}/static/images/favicon-16x16.png">
    <link rel="manifest" href="{{.frontDomain}}/static/txt/manifest.json">
    <link rel="mask-icon" href="{{.frontDomain}}/static/images/safari-pinned-tab.svg" color="#02be6e">
    <meta name="theme-color" content="#4ea64e">
    <link rel="search" type="application/opensearchdescription+xml" title="Pixabay" href="{{.frontDomain}}/static/txt/opensearch.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{.frontDomain}}/static/css/base.1b1bed0c.min.css">
    <title>发现并下载免费图片</title>
    <meta name="description" content="本站所有内容均抓取自 https://pixabay.com。发现免费图片和视频的最佳来源。 可以做商业用途 ✓ 不要求署名 ✓">
</head>
{{end}}
