<!DOCTYPE html><html lang="zh" prefix="og: http://ogp.me/ns#">
<head><meta charset="utf-8">
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=EzJCsJwDfVlqG8d1K6KKOg&gtm_preview=env-1&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-5CF9ZN');</script>
    <link rel="canonical" href="{{.baseUrl}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{.frontDomain}}/static/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{.frontDomain}}/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{.frontDomain}}/static/images/favicon-16x16.png">
    <link rel="manifest" href="{{.frontDomain}}/static/txt/manifest.json">
    <link rel="mask-icon" href="{{.frontDomain}}/static/images/safari-pinned-tab.svg" color="#02be6e">
    <meta name="theme-color" content="#4ea64e">
    <link rel="search" type="application/opensearchdescription+xml" title="13520v.com" href="{{.frontDomain}}/static/txt/opensearch.xml">
    <meta name="google-site-verification" content="HhI1AC5Q4nvvEU1FQvb0QvGrPADs351JXl4IRVGSnnk" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{.frontDomain}}/static/css//base.1b1bed0c.min.css">
    <!--[if lt IE 9]><script src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
    <title>{{.photo.TagStr}} - 13520v.com上的免费照片</title>
    <meta name="description" content="关于{{.photo.TagStr}}的免费图片">
    <meta property="og:image" content="{{ViewImageAddr .photo.Attr 480}}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="13520v上的免费图片 -{{.photo.TagStr}}">
    <meta name="twitter:card" content="photo">
    <meta name="twitter:site" content="@13520v.com">
    <meta name="twitter:title" content="13520v.com上的免费图片 - {{.photo.TagStr}}">
    <meta name="twitter:image" content="{{ViewImageAddr .photo.Attr 480}}">
    <meta name="twitter:image:width" content="686">
    <meta name="twitter:image:height" content="480">
</head>

<body class="ua-authenticated is-authenticated">
 <div id="wrapper">
    {{template "header" .}}
    <div id="content" class="clearfix">
        <div id="media_show" class="photo">
            <div class="left">
                <div class="inside">
                    <div style="text-align:center">
                        <div id="media_container" class="init">
                            <img srcset="{{ViewImageAddr .photo.Attr 720}} 1x, {{ViewImageAddr .photo.Attr 1280}}.jpg 1.333x" src="{{ViewImageAddr .photo.Attr 720}}.jpg" alt="{{.photo.TagStr}}">
                            <div id="say_thanks_overlay" class="hide-xs">
                                <em onclick="$('#say_thanks_overlay').fadeOut();">×</em>
                                <table style="height:100%" class="ua-attribution-overlay">
                                    <tr>
                                        <td>
                                            <div style="color:#fff">
                                                <p style="font-size:34px;text-shadow:0 1px 10px rgba(0,0,0,.7)">感谢图片作者</p>
                                                <p class="hide-sm hide-md" style="margin:0 auto 8px;max-width:420px">信用不是必需的，但非常感谢链接，并允许图像作者获得曝光。 您可以使用以下文本：</p>
                                      <span class="attribution_field hide-sm hide-md">
<span>该图片由{{.photo.User.NickName}}在<a href="https://pixabay.com/zh/">Pixabay</a>上发布</span>
<input class="copy_to_clipboard copy-attribution-text ua-copy-attribution pure-button" type="button" value="复制">
</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <h1>
                               {{range $j,$tag := .photo.Tags}}
                                    <a href="/photos/search/{{$tag.TagName}}">{{$tag.TagName}}</a>
                                {{end}}
                            </h1>
                        </div>
                     </div>
                </div>
            </div>
            <div class="right">
                <div style="margin:0 0 20px">
                    <div class="clearfix">
                        <a href="/users/{{.photo.User.PxUid}}">
                            <img class="hover_opacity" style="float:left;width:48px;height:48px;border-radius:48px;margin:0 12px 0 0" alt="{{.photo.User.NickName}}" srcset="{{ViewHeadPortrait .photo.User.FileName 48 48}} 1x, {{ViewHeadPortrait .photo.User.FileName 96 96}} 2x" src="{{ViewHeadPortrait .photo.User.FileName 48 48}}"></a>
                        <a style="display:block;font-size:15px;margin:-3px 0 -8px 60px;color:#555" class="hover_opacity" href="/users/{{.photo.User.PxUid}}/">
                            {{.photo.User.NickName}} / {{.photo.User.PicNum}} 张照片
                        </a>
                        <br>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" style="display:none">
                            <input type="hidden" name="cmd" value="_donations">
                            <input type="hidden" name="return" value="https://pixabay.com/zh/service/donated/">
                            <input type="hidden" name="currency_code" value="USD">
                            <input type="hidden" name="lc" value="CN">
                            <input type="hidden" name="no_shipping" value="1">
                            <input type="hidden" name="item_name" value="Capri23auto / Pixabay (Image #5331083)">
                            <input type="hidden" name="business" value="menzinger13&#64;aol&#46;com">
                            <input type="submit" id="donate_button" class="ua-donation-button">
                        </form>
                         <span id="follow_button" class="ua-engagement-follow pure-button button-sm ajax" data-href="/accounts/follow/{{.photo.User.PxUid}}/"><i class="check">✓</i> 关注</span>
                    </div>
                </div>
                <div class="like_buttons">
                    <span data-href="/images/like/{{.photo.PxImgId}}/?button" class="ua-engagement-like like_button pure-button pure-button-primary button-sm ajax" title="喜欢"><i class="icon icon_like_filled"></i><b>{{.photo.LikeNum}}</b></span>
                    <span data-href="/accounts/favorite/photo/{{.photo.PxImgId}}/?button" class="ua-engagement-favorite favorite_button pure-button pure-button-primary button-sm ajax" title="收藏"><i class="icon icon_favorite_filled"></i><b>{{.photo.FavoritesNum}}</b></span>
                 </div>
                 <div class="download_menu" data-type="images">
                    <span class="pure-button button-green ua-download-open-menu" style="display:block;max-width:310px;margin:10px 0 0">
                        <i class="icon icon_download"></i> 免费下载</span>

                    <div class="bubble" style="padding:15px">
                        <table>
                            {{$extStr :=.photo.ImageFormatStr}}
                        {{range $i,$attr :=.photo.Attr}}
                            <tr>
                                <td><input type="radio" name="download" value="{{$attr.FileName}}"> {{$attr.Width}}×{{$attr.Height}}</td>
                                <td>{{$extStr}}</td>
                            </tr>
                          {{end}}
                        </table>
                        <a target="_blank" class="view_btn pure-button button-md ua-view-button" data-w="332" style="display:inline-block;width:49%;float:right">查看</a>
                        <a class="dl_btn pure-button button-green button-md ua-download-button" data-w="332" style="display:inline-block;width:49%;">下载</a>
                    </div>
                </div>
                <p style="margin:15px 0 5px;font-size:13px;padding:5px 15px;background:#f6f5fa;border-bottom: 1px solid #eeeff2">近期图像</p>
             <div class="flex_grid sidebar_thumbs" style="margin:-4px -6px 15px -5px">
                  {{$frontDomain :=.frontDomain}}
                  {{range $i,$item:=.recentImages}}
                    <div class="item" data-w="640" data-h="426">
                        <a href="/photos/{{$item.PxImgId}}">
                            <img title="{{$item.TagStr}}" src="{{$frontDomain}}/static/images/blank.gif" alt="" data-src="{{ViewImageAddr $item.Attr 180}}">
                            <em>{{$item.TagStr}}</em>
                        </a>
                    </div>
                    {{end}}
               </div>

                <div style="padding:15px 20px;background:#f6f5fa">
                    <table id="details">
                        <tr><th style="white-space:nowrap">图片类型</th><td>{{$extStr}}</td></tr>
                        <tr><th>创建</th><td>{{.photo.AddTime}}</td></tr>
                        <tr><th>浏览量</th><td>{{.photo.ViewNum}}</td></tr>
                        <tr><th>下载量</th><td>{{.photo.DownloadsNum}}</td></tr>
                    </table>
                </div>
            </div>

            <div class="left">
                <div class="inside" style="margin-top:15px">
                    <div id="comments">
                        <form onsubmit="$('#comment_submit_btn ').attr('disabled', 1);" class="ajax_form pure-form" data-target="#comments" data-replace="1" action="/images/comments/{{.photo.PxImgId}}/create/" method="post">
                            <table>
                                <tr>
                                    <td><img srcset="{{.frontDomain}}/static/images/profile_image_dummy.svg 1x, {{.frontDomain}}/static/images/profile_image_dummy.svg 2x" src="{{.frontDomain}}/static/images/profile_image_dummy.svg" alt=""></td>
                                    <td style="padding-bottom:0">
                                        <textarea name="text" cols="40" rows="10" placeholder="添加您的评论..." class="autosize" style="width:100%;height:48px" onfocus="$('#comment_submit').show();" maxlength="2000" required id="id_text"></textarea>
                                    </td>
                                </tr>
                                <tr style="display:none" id="comment_submit">
                                    <td></td><td style="padding-top:0">
                                        <input id="comment_submit_btn"  type="submit" class="ua-engagement-comment pure-button button-green button-md" value="提交">
                                    </td>
                                </tr>
                            </table>
                        </form>
                <table id="comment_list">
                    {{range $i,$comment :=.commentsList}}
                            <tr id="comment_{{$comment.CommentId}}" class="comment">
                                <td>
                                    <img srcset="{{ViewHeadPortrait $comment.HeadFileName 48 48}} 1x, {{ViewHeadPortrait $comment.HeadFileName 96 96}} 2x" src="{{ViewHeadPortrait $comment.HeadFileName 48 48}}" alt="">
                                </td>
                                <td>
                                    <div style="font-size:14px">
                                        {{$comment.NickName}} <span style="font-size:12px;color:#999">&nbsp; {{$comment.AddTime}} 分钟以前</span>
                                    </div>
                                    <div class="text linkify">{{$comment.Content}}</div>
                                </td>
                            </tr>
                    {{end}}
                  </table>
                        {{if gt .commentCount .commentNum}}
                            <a style="display:block;margin:0 0 40px" href="/images/comments/{{.photo.PxImgId}}/all/" class="ajax pure-button button-md" data-target="#comments">+{{.commentCount}} 更多</a>
                        {{end}}
                    </div>

                    <script>
                        if (window.jQuery) $('.comment .text').each(function(){ $(this).html(linkify($(this).html())); });
                    </script>

                    <div style="margin:40px 0">
                        <a target="_blank" href="https://www.canva.cn/?utm_source=Pixabay&utm_term=PhotoPageBanner&utm_campaign=15Feb2019">
                            <img class="pure-img" srcset="{{.frontDomain}}/static/images/canva_zh_ad_960.jpg 1x, {{.frontDomain}}/static/images/canva_zh_ad_1920.jpg 2x" src="{{.frontDomain}}/static/images/canva_zh_ad_960.jpg" alt="">
                        </a>
                    </div>
                    <p class="tags">
                        {{range $i,$tag := .tagList}}
                             <a href="/photos/search/{{$tag.TagName}}">{{$tag.TagName}}</a><i>, </i>
                       {{end}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div><a id="toTop">▲</a>
<script src="{{.frontDomain}}/static/js/jquery-1.12.4.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{{.frontDomain}}/static/js/jquery.js"><\/script>');
    var LANG = '', LANG_URL_PREFIX = '', LANGS = [], I18N = { 'delete': '确认删除？', 'safesearch': '安全搜索', 'adult_content': '成人内容' };
</script>
<script src="{{.frontDomain}}/static/js/base.f3b82b8b.min.js"></script>

<script>
    var show_captcha=0, auth_user=1;

        $('#fb_like_widget').hide();


    if (!window.PX) window.PX = {};

    window.PX.media_type = 'photo';
    window.PX.media_id = 5331083;

    window.dataLayer = window.dataLayer || [];
    window.dataLayer.push({qForAds: 'photo:de:eichhörnchen eichkätzchen'});
</script>
</body>
</html>
