<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Title</title>
</head>
<body>



{{range $i, $v := .picList}}
    <div itemscope itemtype="schema.org/ImageObject" class="item" data-w="{{ViewWH $i "w"}}" data-h="{{ViewWH $i "h"}}">
        <meta itemprop="contentUrl" content="{{ViewImageAddr $v.Attr 340}}">
         <a href="/zh/photos/scenery-moon-sky-town-night-city-5319835/">
            <img srcset="{{ViewImageAddr $v.Attr 340}} 1x, {{ViewImageAddr $v.Attr 480}} 2x" src="{{ViewImageAddr $v.Attr 340}}" alt="{{$v.TagStr}}"></a>
        <div>
            <div class="counts hide-xs hide-sm photo-5319835  ">
                <em data-href="/zh/images/like/5319835/" class="ajax ua-engagement-like"><i class="icon icon_like"></i> {{$v.LikeNum}}</em>
                <em data-href="/zh/accounts/favorite/photo/5319835/" class="ajax ua-engagement-favorite"><i class="icon icon_favorite"></i> {{$v.FavoritesNum}}</em>
                <em data-location="/zh/photos/scenery-moon-sky-town-night-city-5319835/#comments"><i class="icon icon_comment"></i> {{$v.CommentsNum}}</em>
            </div>
            <span itemProp="caption">
    {{range $j,$tag := $v.Tags}}
                <a href="/photos/search/{{$tag.TagName}}/">{{$tag.TagName}}</a>
    {{end}}


            </span></div></div>
{{end}}

</body>
</html>