{{define "account_head"}}
<meta charset="utf-8">
<link rel="canonical" href="http://13520v.com">
<link rel="apple-touch-icon" sizes="180x180" href="{{.frontDomain}}/static/images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{.frontDomain}}/static/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{.frontDomain}}/static/images/favicon-16x16.png">
<link rel="manifest" href="{{.frontDomain}}/static/txt/manifest.json">
<link rel="mask-icon" href="{{.frontDomain}}/static/images/safari-pinned-tab.svg" color="#02be6e">
<meta name="theme-color" content="#4ea64e">
<meta name="google-site-verification" content="HhI1AC5Q4nvvEU1FQvb0QvGrPADs351JXl4IRVGSnnk" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{.frontDomain}}/static/css/base.1b1bed0c.min.css">
<!--[if lt IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
{{end}}