{{define "account_tabs"}}
<div id="account_tabs" class="tab_menu hide-xs hide-sm hide-md" style="margin:auto;border-top:0">
    <div style="max-width:1440px;margin:auto;padding:0 5px;text-align:left">
        <a style="float:right" href="/users/zhangpeng556-17482797/">我的资料</a>
        <a href="/accounts/media/">我的图片</a>
        <a href="/accounts/upload/">上传</a>
        <a href="/accounts/favorites/">收藏</a>
        <a class="hide-lg" href="/accounts/following/">关注</a>
        <a href="/accounts/messages/inbox/">消息</a>
        <a href="/accounts/settings/">设置</a>
    </div>
</div>
{{end}}
