<!DOCTYPE html><html lang="zh" prefix="og: http://ogp.me/ns#">
<head>
{{template "account_head" .}}
   <title>登录</title>
    <style>
        #sign_in_out .pure-button { display: block; padding: 12px 10px !important; margin: 0 0 10px; color: #fff; }
        #sign_in_out input { padding: 12px 10px 11px !important; width: 100%; max-width: none !important; }
        .social_auth a { display: inline-block !important; width: 47%; }
        .social_auth a i { position: relative; top: 2px; margin-right: 4px; }
        .grecaptcha-badge { bottom: 60px !important; }
    </style>
</head>
<body class="">
<div id="wrapper">
    {{template "header" .}}
    <div id="content" class="clearfix">
        <div id="sign_in_out" style="padding:10px">
            <div class="window" style="max-width:400px">
                <div style="padding:20px 25px">
                    <div class="tab_menu" style="border-top:0;margin:0 0 35px;font-size:20px">
                        <a href="#" class="selected">登录</a>
                        <a href="/accounts/register">Join</a>
                    </div>
                    <div>
                    </div>

                    <form id="login_form" spellcheck="false" class="right_side pure-form layui-form" lay-filter="loginForm" action="/accounts/loginDo" method="post">
                        <p> <input type="text" name="username" lay-verify="username" lay-verify="required" lay-reqtext="请输入用户名" data-autofocus="" placeholder="用户名" maxlength="50" id="id_username" class="layui-input"></p>
                        <p> <input type="password" name="password"  lay-verify="password" placeholder="密码" required id="id_password"></p>
                        <input type='hidden' name='token' lay-verify="token" value='{{.token}}' />
                        <input type="hidden" name="next" value="{{.nextUrl}}">
                        <div>
                            <button style="text-align:center; width: 100%; height: 100%;" class="ua-login-completion sign_in_button pure-button button-green g-recaptcha layui-btn"  lay-submit lay-filter="formDemo"> 登录 </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div><a id="toTop">▲</a>
<script src="{{.frontDomain}}/static/js/jquery-1.12.4.min.js"></script>
<script>
    window.jQuery || document.write('<script src="/static/js/jquery.js"><\/script>');
    var LANG = '', LANG_URL_PREFIX = '', LANGS = [["cs","\u010ce\u0161tina"],["da","Dansk"],["de","Deutsch"],["en","English"],["es","Espa\u00f1ol"],["fr","Fran\u00e7ais"],["id","Indonesia"],["it","Italiano"],["hu","Magyar"],["nl","Nederlands"],["no","Norsk"],["pl","Polski"],["pt","Portugu\u00eas"],["ro","Rom\u00e2n\u0103"],["sk","Sloven\u010dina"],["fi","Suomi"],["sv","Svenska"],["tr","T\u00fcrk\u00e7e"],["vi","Vi\u1ec7t"],["th","\u0e44\u0e17\u0e22"],["bg","\u0411\u044a\u043b\u0433\u0430\u0440\u0441\u043a\u0438"],["ru","\u0420\u0443\u0441\u0441\u043a\u0438\u0439"],["el","\u0395\u03bb\u03bb\u03b7\u03bd\u03b9\u03ba\u03ae"],["ja","\u65e5\u672c\u8a9e"],["ko","\ud55c\uad6d\uc5b4"],["zh","\u7b80\u4f53\u4e2d\u6587"]], I18N = { 'delete': '确认删除？', 'safesearch': '安全搜索', 'adult_content': '成人内容' };
</script>
<script src="{{.frontDomain}}/static/js/base.9d3480b1.min.js"></script>
<script>if ((document.documentMode || 10) > 8) $('body').prepend("<svg id='bg_svg' viewBox='0 0 1440 480' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' preserveAspectRatio='xMidYMid slice'><filter id='blur'><feGaussianBlur stdDeviation='5'/></filter><image xlink:href='{{.cdnDomain}}/12-40-33-693_1440x480.jpg' width='1440' height='480' filter='url(#blur)'/></svg>");</script>
<script>function onCheckRobot(token){ document.getElementById('login_form').submit(); }</script>

<script src="{{.frontDomain}}/static/layui/layui.js"></script>
<script>
    var errCode ="-1";
    // layer.open({
    //     title: '在线调试'
    //     ,content: '可以填写任意的layer代码'
    // });

    layui.use(['form','layer'], function() {
        var layer = layui.layer
            ,form = layui.form;
        //自定义验证规则
        form.verify({
            username: function(value){
                if(value.length < 5 || value.length > 20){
                    return '用户名不正确';
                }
            },
            password: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ],
        });
        form.on('submit(formDemo)',function (data) {
            $.ajax({
                url:'/accounts/loginDo',
                method:'post',
                data: data.field,
                dataType:'JSON',
                success:function (data) {
                    if(data.code == errCode){
                        layer.open({
                            title: '登录失败'
                            ,content: data.msg,
                        });
                        form.val('loginForm',{
                            "token":data.data.token
                        });
                        return false;
                    }else {
                        layer.open({
                            title: '登录成功'
                            ,content: "登录成功",
                        });
                        window.location.href= data.data.next;
                    }
                },
                error:function (data) {
                    layer.open({
                        title: '登录失败'
                        ,content: data.msg,
                    });
                    return false;
                }
            });
            return false;
        })
    })
</script>
</body>
</html>
